/* Global Tags */
body {
  display: flex;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

form {
  text-align: center;
}

/* Item Order Top to Down */

#__next {
  width: 100%;
}

#ehrenLogoDiv {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  filter: brightness(0) invert(1);
}

.newForm {
  margin-top: 3rem;
}

.title {
  color: white;
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
}

.titleTwo {
  margin-top: 1rem;
  color: white;
  margin-bottom: 0.75rem;
}

#submitInput {
  margin-bottom: 7rem;
  margin-top: 2rem;
}

.listForm {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.listForm input {
  margin-left: 2rem;
}

.listForm select {
  margin-left: 2rem;
}
